<div id="wishlist-content">
  <div class="container mt-4">
    <div class="row col-auto">
      <div class="col-auto mb-3" *ngFor="let album of albums">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <a class="stretched-link" (click)="openDetails(album.id)"><strong>{{album.album| titleFormat}}</strong></a>
              <!--show favourite and / or wishlist icon-->
              <span *ngIf="album.inFavs">&nbsp; &#11088;</span>
              <span *ngIf="album.inWishlist">&nbsp;📜</span>
            </h3>
            <h4 class="card-subtitle">{{album.artist}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
