<h2><strong>Add Album</strong></h2>

<form>
  <!--title and artist-->
  <div class="form-row">
    <div class="col">
      <input type="text" name="artist" class="form-control" placeholder="artist name (required)" required maxlength="50"  [(ngModel)]="album.artist" (change)="checkReqs()" (keydown)="checkReqs()">
    </div>
    <div class="col">
      <input type="text" name="album" class="form-control" placeholder="album title (required)" required maxlength="50"  [(ngModel)]="album.album" (change)="checkReqs()" (keydown)="checkReqs()">
    </div>
  </div>

  <p></p>
  <!--year, type and location-->
  <div class="form-row">
    <div class="col">
      <input
        type="number" name="Year" class="form-control" inputmode="numeric" placeholder="2020"
        oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="4" min="1900" required [(ngModel)]="album.year">
    </div>
    <div class="col">
      <select name="typeselect" class="custom-select" id="typeselect" [(ngModel)]="selectedType">
        <option *ngFor="let t of types">
          {{t.name}}
        </option>
      </select>
    </div>
    <div class="col">
      <div class="form-check">
        <input type="checkbox" name="favourite" class="form-check-input" id="favCheck" [(ngModel)]="inFaV">
        <label for="favCheck" class="form-check-label">Add to favourites?</label>
      </div>
      <div class="form-check">
        <input type="radio" name="collection" class="form-check-input" id="collRadio" value="inCollection" [(ngModel)]="inColl" [value]="true">
        <label for="collRadio" class="form-check-label">Add to collection</label>
      </div>
      <div class="form-check">
        <input type="radio" name="collection" class="form-check-input" id="wishRadio" value="onWishlist" [(ngModel)]="inColl" [value]="false">
        <label for="wishRadio" class="form-check-label">Add to wishlist</label>
      </div>
    </div>
  </div>

  <p></p>
  <!--label-->
  <div class="form-row">
    <div class="col">
      <input type="text" name="label" class="form-control" placeholder="Record label" maxlength="50" required [(ngModel)]="album.label">
    </div>
  </div>

  <p></p>
  <!--save button is disabled until title and artist is filled in-->
  <footer>
    <a href="" type="submit" class="btn btn-primary {{state}}" id="saveButton" (click)="saveAlbum()" >Save Album</a>
    <button type="button" class="btn btn-danger" id="cancelButton" (click)="closeDialog()">Cancel</button>
  </footer>
</form>
