<!--top navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Not-Ify</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/collection">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!--wrapper for entire page (minus top navbar)-->
<div class="wrapper">
  <!--sidebar component-->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <p></p>
      <li>
        <button class="btn btn-primary" (click)="openDialog()">ADD ITEM</button>
      </li>
      <p></p>
      <!--<li>-->
        <!--<button class="btn btn-outline-danger">DELETE</button>-->
      <!--</li>-->
      <p></p>
    </ul>
  </nav>
  <!--content goes here-->
  <div id="content">
    <div class="row">
      <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
        <ul class="nav nav-tabs">
          <li class="nav-link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/collection">Collection</a> </li>
          <li class="nav-link"  role="presentation" routerLinkActive="active"><a routerLink="/favourites">Favourites</a> </li>
          <li class="nav-link" role="presentation" routerLinkActive="active"><a routerLink="/wishlist">Wishlist</a> </li>
        </ul>
    </div>
    <div class="row">
        <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
  <!--</div>-->
<!--</div>-->
