.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  max-width: 200px;
  min-width: 200px;
  min-height: 100vh;
  background-color: #343a40;
}

#content {
  margin-left: 25px;
  margin-top: 10px;
  width: 100%;
}

app-favourites{
  width: 100%;
}

app-wishlist{
  width: 100%;
}

