<form>
  <div class="modal-header">
    <h1>Edit Album</h1>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="col">
        <input type="text" name="artist" class="form-control" maxlength="50" required [(ngModel)]="album.artist" (change)="checkReqs()" (keydown)="checkReqs()">
      </div>
      <div class="col">
        <input type="text" name="album" class="form-control" maxlength="50" required [(ngModel)]="album.album" (change)="checkReqs()" (keydown)="checkReqs()">
      </div>
    </div>
  </div>
  <p></p>
  <div class="form-row">
    <div class="col" id="yearCol">
      <input type="text" name="Year" class="form-control" inputmode="numeric" maxlength="4" pattern="[0-9]*" required [(ngModel)]="album.year">
    </div>
    <div class="col">
      <select name="typeselect" class="custom-select" id="typeselect" [(ngModel)]="selectedType">
        <option *ngFor="let t of types">
          {{t.name}}
        </option>
      </select>
    </div>
    <div class="col">
      <div class="form-check">
        <input type="checkbox" name="favourite" class="form-check-input" id="favCheck" [(ngModel)]="inFaV">
        <label for="favCheck" class="form-check-label">Add to favourites?</label>
      </div>
      <div class="form-check">
        <input type="radio" name="collection" class="form-check-input" id="collRadio" value="inCollection" [(ngModel)]="inColl" [value]="true">
        <label for="collRadio" class="form-check-label">Add to collection</label>
      </div>
      <div class="form-check">
        <input type="radio" name="collection" class="form-check-input" id="wishRadio" value="onWishlist" [(ngModel)]="inColl" [value]="false">
        <label for="wishRadio" class="form-check-label">Add to wishlist</label>
      </div>
    </div>
  </div>
  <p></p>
  <div class="form-row" id="labelRow">
    <div class="col">
      <input type="text" name="label" class="form-control" maxlength="50" required [(ngModel)]="album.label">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss()">Cancel</button>
    <a href="" type="button" class="btn btn-primary {{state}}" (click)="saveEdit()">Save</a>
  </div>
</form>
